<div class="container">
<h1>The best cocktails in town</h1>
<ul class ="d-flex justify-content-around">
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to(cocktail.name, cocktail_path(cocktail)) %></li>
  <% end %>
</ul>
<%= link_to "Add a new cocktail", new_cocktail_path(@cocktail), :class => "button" %>

</div>

<%= cl_image_tag("cocktail",
      width: 400, height: 300, crop: :fill) %>
